[submodule ".vim/Align"]
  path = .vim/bundle/Align
  url  = https://github.com/vim-scripts/Align.git
[submodule ".vim/lightline"]
  path = .vim/bundle/lightline.vim
  url  = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/ruby-matchit"]
  path = .vim/bundle/ruby-matchit
  url  = https://github.com/vim-scripts/ruby-matchit.git
[submodule ".vim/supertab"]
  path = .vim/bundle/supertab
  url  = https://github.com/ervandew/supertab.git
[submodule ".vim/unite-outline"]
  path = .vim/bundle/unite-outline
  url  = https://github.com/Shougo/unite-outline.git
[submodule ".vim/vim-markdown"]
  path = .vim/bundle/vim-markdown
  url  = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/vim-rails"]
  path = .vim/bundle/vim-rails
  url  = https://github.com/tpope/vim-rails.git
[submodule ".vim/vim-slim"]
  path = .vim/bundle/vim-slim
  url  = https://github.com/slim-template/vim-slim.git
[submodule ".vim/vim-surround"]
  path = .vim/bundle/vim-surround
  url  = https://github.com/tpope/vim-surround.git
[submodule ".vim/vim-coffee-script"]
  path = .vim/bundle/vim-coffee-script
  url  = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/vim-puppet"]
  path = .vim/bundle/vim-puppet
  url  = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/auto-ctags.vim"]
	path = .vim/bundle/auto-ctags.vim
	url = https://github.com/soramugi/auto-ctags.vim.git
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule ".vim/bundle/switch.vim"]
	path = .vim/bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
