[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	editor = /usr/local/bin/vim -c \"set fenc=utf-8\"
[fetch]
	prune = true
[alias]
	st = status
	cp = cherry-pick
	dc = diff --cached
	co = checkout
